<%- layout("layouts/boilerplate") %>
<body>
  <h3>Create New Listing</h3>
  <form method="POST" action="/listing" class="listing-form"  >
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="listing[title]" placeholder="Enter title" required>
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="listing[description]" placeholder="Enter description" required></textarea>
    </div>
    
    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text" id="country" name="listing[country]" placeholder="Enter Country name" required>
    </div>
    
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" id="location" name="listing[location]" placeholder="Enter location" required>
    </div>
    
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" name="listing[price]" placeholder="Enter price" required>
    </div>
    
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="text" id="image" name="listing[image]" placeholder="Enter img url/link">
    </div>
    
    <button id="add" type="submit">Add</button>
  </form>
</body>
